* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    font-size: 14px;
    font-family: Ubuntu, "Ubuntu Condensed", sans-serif;
    /* Note: browsing transparency 14.04 vs 16.04 */
    /* background: rgba(77, 75, 69, 0.9); */
    background: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 20px;
}

#content {
    margin: 4px;
}

#title span {
    cursor: pointer;
    font-size: 18px;
}

#title {
    position: absolute;
    color: #A19C90;
    padding: 10px 10px 10px;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    z-index: 100;
    background: rgba(57, 55, 49, 1);
    box-shadow: 2px 0 5px black;
}

#label {
    position: fixed;
    width: 100%;
    z-index: 100;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    background: rgba(57, 55, 49, 1);
    box-shadow: -2px 0 5px black;
    padding: 10px;
    color: white;
}

#folders {
    z-index: 2;
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    width: 300px;
    background: rgba(105, 101, 93, 0.8);
    box-shadow: 3px 3px 5px 0 #333;
    padding: 20px;
    /*float: left;*/
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#images {
    position: absolute;
    top: 35px;
    bottom: 35px;
    left: 0;
    right: 0;
    padding-top: 15px;
    padding-left: 347px;
    padding-bottom: 10px;
    overflow: hidden;
}

.folder-category {
    padding-bottom: 10px;
}

.folder-category-label {
    color: #A19C90;
    padding-bottom: 10px;
}

.folder {
    padding-left: 20px;
    padding-right: 20px;
    color: #d3d0c5;
    margin-bottom: 8px;
}

.folder-icon {
    padding-right: 3px;
    vertical-align: text-bottom;
    display: inline;
}

.folder.selected {
    margin-bottom: 5px;
    border-bottom: solid 3px #F07746;
}

.item {
    position: relative;
    margin: 7px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 3px 3px 5px 1px #333;
    height: 120px;
}

.item.selected {
    margin: 0;
    border: solid 7px #F07746;
    overflow: hidden;
    border-radius: 4px;
    /*-webkit-transform: scale(1.12);*/
    /*z-index: 10;*/
}

.group {
    color: #A19C90;
    font-size: 15px;
    font-weight: normal;
    padding: 30px 7px 5px;
    display: table-cell;
}

.group.first {
    padding-top: 10px;
}

.selectable, .clickable {
    cursor: pointer;
}

.nonmatch {
    display: none;
}

.crumb.nonmatch {
    display: inline;
}

.crumb.selected {
    border-bottom: solid 3px #F07746;
}

.disabled {
    color: #A19C90;
}

.disabled img {
    opacity: 0.2;
}

div.caption {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    color: #d3d3d3;
    background: rgba(0, 0, 0, 0.5);
    line-height: 20px;
    padding-left: 5px;
    font-size: 10px;
    z-index: -1;
}

div.caption.caption_above {
    z-index: 2;
}

div.holder {
    width: 100%;
    height: 100%;
    background-color: rgba(57, 55, 49, 0.2);
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

div.holder img {
}

#spinner {
    display: none;
}

#spinner img {
    position: absolute;
    top: 50%;
    left: 50%;
}

#search-box {
    display: none;
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    height: 34px;
    width: 300px;
    border-bottom-left-radius: 20px;
    background-color: rgba(172, 164, 150, 0.9);
    /*background-color: black;*/
}

#search-container {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

#search-icon {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 18px;
    height: 18px;
    z-index: 10;
}

#search-field {
    position: absolute;
    right: 15px;
    top: 0;
    width: 250px;
    height: 34px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    font-size: 14px;
}

#dimensions {
    float: right;
    padding-right: 20px;
}

#progress {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #F07746;
}

.mCSB_dragger_bar {
    background-color: #F07746 !important;
    /*border-radius: 0 !important;*/
}